doctype html

html(lang="en")
  head
    title JWT test app
    // inject:css 
    // endinject 
  body(ng-app="jwtApp", ng-controller="jwtController")
    {{hello}}


    // inject:js 
    // endinject 
